// 重置iview样式
#ClassSum .ivu-tabs-bar {
  border: none;
  margin-bottom: 10px;
}

#ClassSum .ivu-tabs-nav{
  display: flex;
  align-items: center;
  height: 40px;
}


#ClassSum .ivu-tabs-nav .ivu-tabs-tab {
  display: flex;
  padding: 0;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #9E9E9E;

  &:hover {
    color: #585858;
  }
}

#ClassSum .ivu-tabs-nav .ivu-tabs-tab-active {
  color: #585858;
}
#ClassSum .ivu-tabs-ink-bar{
  background: #3B888B;
}
