#ExcellentClass {
    display: flex;
    justify-content: space-between;
  
    .main_content {
      flex: 2.5;
      margin-bottom: 30px;
  
      .title_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        .title {
          display: flex;
          align-items: center;
          height: 35px;
  
          .subtitle {
            font-size: 16px;
            margin-left: 20px;
            color: #338c8f;
          }
        }
  
        p {
          min-height: 60px;
          color: #868684;
          font-size: 14px;
        }
      }
  
      .nav_list {
        display: flex;
        align-items: center;
  
        li {
          border: 1px solid #BFBFBF;
          color: #595959;
          background: #F2F2F2;
          font-size: 16px;
          padding: 3px 30px;
          margin: 0 3px;
          border-radius: 2px 2px 0px 0px;
          cursor: pointer;
  
          &.active {
            color: #009D9F;
            background: #fff;
            border-bottom: none;
          }
        }
      }
  
      .video_area {
        margin-top: 10px;
        //   height: 380px;
        min-height: 400px;
  
        .video {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
  
      .online_test {
        display: inline-block;
        margin-top: 20px;
        font-size: 20px;
        color: #57aeb1;
        font-weight: bold;
      }
    }
  
    .class_list {
      flex: 1;
      margin-top: 25px;
      // background: #ccc;
      padding: 10px;
      font-size: 16px;
      min-width: 200px;
  
      >li {
  
        margin-bottom: 5px;
        margin-left: 5px;
        border-radius: 3px;
        cursor: pointer;
  
        .class_title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3px 15px;
          background: #F2F2F2;
          color: #595959;
  
          span {
            // font-weight: 600;
            color: #262626;
          }
  
          i {
            list-style: normal;
          }
  
          // 完成后需加的状态
          &.class_done {
            background: #c3f2f3;
          }
        }
  
        .class_detail {
          font-size: 14px;
          color: #595959;
  
          >li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 5px;
  
            &:hover>span {
              //   color: #3b888b;
            }
  
            // 选择态
            &.class_selected {
              background: #055052;
              color: #fff;
  
              &>.charpter {
                color: #fff;
              }
  
              &>strong {
                border-color: #fff;
              }
  
              svg {
  
                .cls-1,
                .cls-3 {
                  fill: none;
                  stroke: #fff;
                }
              }
            }
  
            // 完成态
            &.class_finished {
              color: #009D9F;
  
              strong {
                border-color: #009D9F;
              }
            }
  
            strong {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              border: 1px solid #707070;
  
            }
  
            span {
              margin-left: 10px;
            }
  
            .circle0 {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .circle {
      display: inline-block;
      padding: 4px;
      vertical-align: top;
      margin-top: 4px;
      margin-left: 2px;
      background: #FDC231;
      border-radius: 50%;
    }
  
    .icon {
  
      .cls-1,
      .cls-3 {
        fill: none;
        stroke: #009d9f;
      }
  
      .cls-2 {
        clip-path: url(#clip-path);
      }
  
      .cls-3 {
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1.249px;
      }
    }
  
    .study_wrap {
      font-size: 16px;
  
      .class_file {
        background: #009D9F;
        color: #fff;
        margin-top: 12px;
        display: inline-block;
        padding: 15px 10px;
      }
    }
  
  
    // 重置iview样式
    .ivu-tabs-bar {
      border: none;
      margin-bottom: 10px;
    }
  
    .ivu-tabs-nav {
      display: flex;
      align-items: center;
      height: 40px;
    }
  
    .ivu-tabs-nav .ivu-tabs-tab {
      display: flex;
      padding: 3px 20px;
      align-items: center;
      font-size: 16px;
      border-radius: 2px 2px 0px 0px;
      border: 1px solid #BFBFBF;
      color: #595959;
      background: #F2F2F2;
      margin: 0 3px;
      height: auto;
  
      &:hover {
        color: #009D9F;
        background: #fff;
        border-bottom: none;
      }
    }
  
    .ivu-tabs-nav .ivu-tabs-tab-active {
      color: #009D9F;
      background: #fff;
      border-bottom: none;
    }
  
    .ivu-tabs-nav-container:focus .ivu-tabs-tab-focused {
      border-color: #009D9F !important;
    }
  
    .ivu-tabs-ink-bar {
      background: none;
    }
  
  }
  